:root {

  --bg: #92AAB4;        /* <-- ny sidebakgrunn */
  --text: #22313A;       /* behagelig mørk tekst */
  --brand: #17313E;      /* header-bakgrunn */
  --primary: #2E7D32;    /* knapper/aksenter */

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

