header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  background-color: #17313E;
}

/* Logo */
#logo img {
    max-width: 100%;
    width: 12rem;
    height: auto;
}

/* Navigasjon */
nav {
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #000;
  background-color: #2e7d32;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

/* Hover-effekt */
nav a:hover {
  background-color: #1b5e20;
  color: #000;
}
